/* Colors and Fonts */

body{
  background-color: #f4f4f4;
  background-image: url('img/back_panda.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  white;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #d3ffda;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

a{
  color: #79d887;
  text-decoration: none;
}

a:hover{
  color: #64b771;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#summary p {
  padding: 2px;
}

/* First simple components */

.text-center {
  text-align: center;
}

.container{
  width: 500px;
  margin: 30px auto;
}

.card{
  background: rgba(80, 80, 80, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-green{
  background-color: #39a049;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-green:hover{
  background-color: #287233;
  color: white;
}

#img-profile{
  width: 160px;
  height: 160px;
  border: 2px solid #cccccc;
}
#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(80, 80, 80, 0.6);
}
#page-content {
  margin-left: 300px;
}
#sidebar ul {
  list-style: none;
}
#sidebar ul li {
  margin-top:50px;
  margin-bottom: 50px;
}
#sidebar a {
  text-decoration: none;
  font-size: 25px;
}
#sidebar a:hover {
  color: white;
}


/* Responsive layout behavior */

@media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
}
#wrapper{
  padding: 20px;
  width: 1000px;
  margin: 20px auto;
  border-radius: 2px;
  background: rgba(175, 175, 175, 0.1);
}

#left{
  width: 35%;
  float: left;
  min-height: 600px;
}
#left .card:first-child {
  min-height: 350px;
}
#left .card:last-child {
  min-height: 120px;
}

#right{
  width: 60%;
  float: right;
  min-height: 600px;
}
#right .card {
  min-height: 530px;
}

.clear{
  clear: both;
}

#footer{
  position: relative;
  padding: 10px 400px 60px 20px;
}

#share{
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 0px;
}
